.container{
    max-width: 720px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 0 18px;
    margin-bottom: 26px;




    form{
        display: flex;
        flex-direction: column;
        margin: 16px 0;
        gap: 16px;
    }

    @media (max-width: 480px) {
        padding: 0 12px;
        margin-top: 24px;
      }

}


.h1{
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    
    @media (max-width: 480px) {
        font-size: 18px;
        text-align: center;
      }

}


    .input{
    height: 40px;
    border: 0;
    background-color: #080813;
    padding: 0 16px;
    color: white;
    border-radius: 8px;
    border: 1px solid #2c3252;

    @media (max-width: 480px) {
        height: 52px;
        font-size: 16px;
      }

      
    }